.header{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    height: 57px; 
    border-bottom: solid rgb(222, 222, 222) 1px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
    z-index: 100;
    margin-bottom: 20px;
}
.left-section{

    width: 162px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.right-section{

    width: 182px;
    margin-right: 24px;
    margin-left: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.middle-section{
    flex: 1;
    max-width: 470px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}



/* --- Left Section --- */


.hamburger-menu {
    height: 24px;
    margin-right: 24px;
    cursor: pointer;
    margin-left: 24px;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

/* --- Middle Section --- */


.search-bar {
    flex: 1;
    height: 35px;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    
    width: 0;

}

.search-button {
    height: 39px;
    width: 64px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
    cursor: pointer;
}

.search-icon {
    height: 24px;
    margin-top: 4px;
}

.mic-button{
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    margin-left: 8px;


}

.mic-icon{
    height: 24px;

}

.right-section .three{
    width: 24px;
    height: 24px;
}
.notification-icon{
    position: relative;

}
.number-red{
    position: absolute;
    border-radius: 100px;
    background: rgb(204,0,0);
    color: white;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: -3px;
    right: -7px;
    
    border: 2px solid white;
    font-weight: 500;

}


.my{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background-color: orange;
    font-size: 12px;
    font-weight: 500;

    color: black;

    }



