        .sidebar {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 72px;
            background-color: white;
            top: 57px;
            z-index: 101;
            padding-top: 4px;


        }

        .sidebar-link{
            width: 100%;
            height: 74px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .sidebar-link:hover{
            background-color:rgb(238, 238, 238);
            cursor: pointer;
        }

        .sidebar-link img{
            width: 24;
            height: 24px;
            margin-bottom: 6.5px;
        }

        .sidebar-link p{
            
            font-size: 10px;
        }